.span-note {
    padding: 20px;
}
.text-area {
    padding-left: 20px;
}

.send-button {
    display:flex;
    justify-content: center;
}
.button {
    background-color: aquamarine;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}