.content-wrapper {
    padding: 7px;
    width: 200px;
    height: auto;
    display: block;
    align-items: center;
}
.user {
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.user img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
