.header {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    margin: 0;
    width: 1000px;
    align-items: center;
}
.header-logo {
    width: 80px;
    padding: 10px;
}