.page-width {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}
.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 0;
    padding: 5px;
    background-color: aquamarine;
}

.login-items {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
}

.inputs {
    margin: 5px;
    outline: 0;
    padding: 5px;
}

.span-login {
    padding: 10px;
}

.input-green {
    background-color: aquamarine;
    color: white;
}

.flexy-inputs {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.error {

}
