.sidebar {
    background-color: aquamarine;
    padding: 20px;
    width: 150px;
    height: calc(100vh - 150px);
    font-size: 20px
}

li {
    list-style-type: none;
}

ul {
    margin-left: 5px;
    padding-left: 5px;
}