.content-wrapper {
    width: 200px;
    height: auto;
    display: block;
    border-right: 1px black solid;
    align-items: center;
}
.people-list li{
    padding: 10px;
}

.selected {
    border: #61dafb 1px solid;
}